﻿@* Copyright 2017 Ellucian Company L.P. and its affiliates. *@
@{
    var ellucianCdnRoot = "https://cdn.elluciancloud.com/assets";
    var ellucianCdnVersion = "1.1.6";
    var ellucianCdnPath = ellucianCdnRoot + "/" + ellucianCdnVersion;
}

@* Favicons *@
<link rel="apple-touch-icon" sizes="57x57" href="@ellucianCdnPath/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="@ellucianCdnPath/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="@ellucianCdnPath/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="@ellucianCdnPath/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="@ellucianCdnPath/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="@ellucianCdnPath/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="@ellucianCdnPath/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="@ellucianCdnPath/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="@ellucianCdnPath/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="@ellucianCdnPath/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="@ellucianCdnPath/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="@ellucianCdnPath/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="@ellucianCdnPath/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="@ellucianCdnPath/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-TileImage" content="@ellucianCdnPath/favicon/mstile-144x144.png">
<meta name="theme-color" content="#783084">
<link rel="icon" href="@ellucianCdnPath/favicon/favicon.ico">

@* Include the Ellucian Design System stylesheet *@
<link href="@ellucianCdnPath/css/ellucian-design-system-ltr.min.css" rel="stylesheet">
