﻿@* Copyright 2017 Ellucian Company L.P. and its affiliates. *@

@*Get User Infomration*@
@using Ellucian.Web.Security
@{
    string userName = null;
    string apiURL = "";
    string token = "";
    var cookie = Ellucian.Web.Http.Configuration.LocalUserUtilities.GetCookie(Request);
    Ellucian.Web.Http.Configuration.LocalUserUtilities.ParseCookie(cookie, out apiURL, out token);
    if (!string.IsNullOrEmpty(token))
    {
        var principal = JwtHelper.CreatePrincipal(token);
        if (principal != null)
        {
            userName = principal.Identity.Name ?? string.Empty;
        }
    }
}

@*Layout*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Ellucian Design System -->
    @Html.Partial("_EllucianDesignSystem")
    <link href="@Url.Content("~/Content/themes/base/ellucianStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/Site.css")" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    @Scripts.Render("~/bundles/globalscripts")
    

    @Html.Partial("_RequireConfig")
    <script type="text/javascript">
        // Register the ESG modal spinner component
        ko.components.register('modal-spinner', {
            require: 'ModalSpinner/_ModalSpinner'
        });

        // Register the icon component
        ko.components.register('icon', {
            require: 'Icon/_Icon'
        });
    </script>

    @RenderSection("scripts", required: false)

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body id="@ViewBag.BodyId" class="clear-group">
    @Html.AntiForgeryToken()

    @* Inject the Ellucian Style Guide SVG sprite *@
    @Html.Raw(File.ReadAllText(Server.MapPath("~/content/icons/ellucian-icon-sprite.svg")))
    @* End sprite injection *@

    <header id="headerTop">
        <nav id="header-bar" class="esg-header-bar">
            <div id="headerLogo" class="esg-header-bar__logo">
                <h3 style="margin: 2rem">@Html.ActionLink("Colleague Web API", "Index", new { Area = "", Controller = "Home" }, new { @style = "text-decoration:none; color: white; background-color:transparent;" })</h3>
            </div>
            @if (Request.IsLocal)
            {
                <div id="headerToolbar">
                    <ul class="esg-header-bar__menu">
                        <li class="esg-header-bar__menu-item">
                            @Html.ActionLink("API Administration ", "Index", new { Area = "", Controller = "Admin" }, new { @class = "esg-header-bar__menu-link", @style = "text-decoration:none; color: white;" })
                        </li>
                        <li class="esg-header-bar__menu-item">
                            @Html.ActionLink("Utilities", "Index", new { Area = "", Controller = "Utilities" }, new { @class = "esg-header-bar__menu-link", @style = "text-decoration:none; color: white;" })
                        </li>
                        @if (userName != null)
                        {
                            <li class="esg-header-bar__menu-item">
                                <a id="User" class="esg-header-bar__menu-link" href="" style="color:white;">
                                    <span class="esg-header-bar__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--white">
                                            <use xlink:href="#icon-avatar" />
                                        </svg>
                                    </span>
                                    <span class="esg-header-bar__icon-label">@userName</span>
                                </a>
                            </li>
                            <li class="esg-header-bar__menu-item">
                                <a id="logout" class="esg-header-bar__menu-link" href="@Url.Action("logout","Admin")" style="color:white;">
                                    <span class="esg-header-bar__icon esg-icon__container" aria-hidden="True">
                                        <svg class="esg-icon esg-icon--white">
                                            <use xlink:href="#icon-clear" />
                                        </svg>
                                    </span>
                                    <span class="esg-header-bar__icon-label">Logout</span>

                                </a>

                            </li>
                        }
                        else
                        {
                            <li class="esg-header-bar__menu-item">
                                @Html.ActionLink("Login", "login", new { Area = "", Controller = "Admin" }, new { @class = "esg-header-bar__menu-link", @style = "text-decoration:none; color: white;" })
                            </li>
                        }
                    </ul>
                </div>
            }
        </nav>
    </header>
    <div style=" text-align:right; padding-right:2rem;">
        @if (apiURL != null)
        {
            <br /><span>Logged in to: @apiURL<br /></span>
        }
    </div>
    <div id="body">
        <section id="main-content" class="content-wrapper clear-group" role="main">
            @RenderBody()
        </section>
        <!--Footer here-->
        <div class="esg-footer">
            <div class="esg-footer__text">© 2017 Ellucian Company L.P. and its affiliates. </div>
            <div class="esg-footer__text">All rights reserved.</div>
        </div>
    </div>
</body>
</html>