﻿@{
    ViewBag.Title = "Colleague Web API Utilities";
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">@ViewBag.Title</h2>
</div>
@* FieldSet *@
<div id="Utilitiesbody">
    <section class="content-wrapper main-content clear-fix">
        <br />
        <h3 class="base">Module Utilities</h3>
        <table class="APISettingstable">
            @if (System.IO.File.Exists(Server.MapPath(@"~\Areas\Student\Views\Test\Index.cshtml")))
            {
                <tr>
                    <td>@Html.ActionLink("Student Utility Tests", "", "Student/Test", null, null)</td>
                </tr>
            }
            @if (System.IO.File.Exists(Server.MapPath(@"~\Areas\Planning\Views\Test\Index.cshtml")))
            {
                <tr>
                    <td>@Html.ActionLink("Planning Utility Tests", "", "Planning/Test", null, null)</td>
                </tr>
            }
        </table>

        <h3 class="base">Global Utilities</h3>
        <table class="APISettingstable">
            <tr>
                <td>@Html.ActionLink("Clear Data Caches", "ClearCache", "Utilities", null, null) without recycling the application pool.</td>
            </tr>
        </table>

    </section>
</div>