﻿@model Ellucian.Colleague.Api.Areas.Student.Models.Tests.TestCourseSearch

@{
    ViewBag.Title = "CourseSearch";
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">Course Search</h2>
    <a href="@Url.Action("", "Test")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>Back to List
    </a>
</div>

@using (Html.BeginForm())
{
    <div class="base">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class=" esg-alert esg-alert--fluid esg-alert--error" role="alert">
                <span class="esg-alert__icon-wrapper">
                    <span class="esg-alert__icon esg-icon__container" aria-hidden="True">
                        <svg class="esg-icon esg-icon--error-dark">
                            <use xlink:href="#icon-error"></use>
                        </svg>
                    </span>
                </span>

                <div class="esg-alert__message">
                    @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })
                </div>
            </div><br />
        }


        <fieldset>
            <br />
            <div>
                <label class="esg-form__label">@Html.LabelFor(model => model.Keywords)</label>
            </div>
            <div class="esg-form__input-group">
                @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "esg-form__input" }, id = "Keywords" })
                @if (ViewData.ModelState["Keywords"] != null && ViewData.ModelState["Keywords"].Errors.Count > 0)
                {
                    <div class="esg-form__feedback-icon esg-icon__container">
                        <svg class="esg-icon esg-icon--error">
                            <use xlink:href="#icon-error"></use>
                        </svg>
                    </div>
                }
                @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "esg-form__feedback-text" })
            </div>
            <p>
                <input type="submit" value="Run" class="esg-button esg-button--primary" />
            </p>
        </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
