﻿@{
    ViewBag.Title = "Credits";
}

@* Header/Title *@
<div class="esg-page-header">
    <h2 class="esg-page-header__title header-margin">@ViewBag.Title</h2>
    <a href="@Url.Action("", "Test")" class="esg-page-header__subtitle esg-page-header__subtitle--backlink">
        <span class="esg-icon__container esg-page-header__icon" aria-hidden="true">
            <svg class="esg-icon esg-icon--left">
                <use xlink:href="#icon-arrow"></use>
            </svg>
        </span>Back to List
    </a>
</div>
<div class="base">
    <br />
    @using (Html.BeginForm("PostCredits", "Test"))
    {
        <input type="submit" value="Run" class="esg-button esg-button--primary" />
    }
    <br />
</div>



