﻿@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

@using (Html.BeginForm("PostSubjects", "Test"))
{
    <input type="submit" value="Run"/>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
